{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/main.css' %}">
<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
        <link rel="stylesheet" type="text/css" href="{% static '/main.css' %}" />
    </head>
    <body>
        <div id="header">
            <h1>Project Big Screen</h1>
        </div>
        <ul>
<a href="{{ 'movie_recommendation' }}">Movie Recommendation</a>
<a href="{{ 'model' }}">Modeling Like a Hollywood Executive</a>


        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>

        {% if args %}
        <div class="args">
            <pre>{{ args }}</pre>
        </div>
        {% endif %}

        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}



        <div class="frame">
            {% if result != None %}
            <div class="results">
                <table id='mytable' class="courses">
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                        <th>Savings</th>
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                        <td>{{ col }}</td>
                        {% endfor %}
                        <td><img src=https://resizing.flixster.com/UlYoMfBUoJW05MGy4N2NniHJ6GM=/130x0/v1.bTsxMTIxNTYwNjtqOzE4MDM5OzEyMDA7MTUzNjsyMDQ4></td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
            <p class="num_results">Results: {{ num_results }}</p>
            {% endif %}
        </div>
    </body>
</html>
