{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/main.css' %}">
<!DOCTYPE html>
<html>
    <head>
        <title>Movie Recommendation</title>
        <link rel="stylesheet" type="text/css" href="{% static '/main.css' %}" />
    </head>
    <body>
        <div id="header">
            <h1>Movie Recommendation</h1>
        </div>
        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>

        {% if args %}
        <div class="args">
            <pre>{{ args }}</pre>
        </div>
        {% endif %}

        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}


        <div class="frame">
            {% if result != None %}
            <div class="results">
                <table id='mytable' class="movies">
                    <tr>
                        {% for col in columns %}
                            {% if num_results != 0 %}
                                <th>{{ col }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                            {% if 'https' in col %}
                                <td><img src = {{ col }}></td>
                            {% else %} 
                                <td>{{ col }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>

            </div>
            <p class="num_results">Number of results found: {{ num_results }}</p>
            {% endif %}
        </div>
    </body>
</html>
